.column {
    float: left;
    width: 50%;
    margin: 1%;
    padding: 1%;
    border-radius: 12px;
    border-bottom: #eee solid 1px;
    border-top: #eee solid 1px;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #343434;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto; padding: 0; border: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    margin-bottom: 5%;
}

.tag{
    background: #7700FF;
    color: #7700FF;
    height: 100%;
    width: 10%;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em 0; margin: 0; border: 0;
}

.title{
    font-family: "Montserrat";
    font-family: 18px;
    text-align: "center";
    border-bottom: #000 solid 1px;
    padding: 0 1%;
    margin: 1% 0;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.popup{
    width: 60%;
    position: fixed;
    top: 25%;
    left: 20%;
    margin: 0; padding: 0; border: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1%;
    margin-bottom: 5%; 
}

.formTitle{
    margin: 0; border: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    background: rgba(119, 0, 255,1);
    color: #FFF;
}

.header{
    width: 150px !important;
    margin-left: 5%;
    display: inline-block;
}

.center{
    display: block;
    margin: 10px auto;
}

.fit{
    width:50%;
}

.styled{
    font-family: "Montserrat";
    background: transparent;
    padding:8px;
    display: inline-block;
    border:none;
    border-bottom:1px solid #ccc;
    width:90%;
    margin: 1em auto;
}

h2{
    margin: 0 10%;
    padding: 1em 0;
}

h3{
    margin: auto; border: 0;
    padding: 1em 0;
    font-family: 'Montserrat';
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

h6{
    margin: 0 auto;
    padding: 1em 0;
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border-bottom: #000 dotted 1px;  
    display: inline-block;
}

p{
    font-family: "Montserrat";
    font-size: 12px;
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
}

button{
    position: fixed;
    top: 90%;
    left: 95%;
    padding: 0; margin: 0; 
    background-color: #7700FF;
    color: #eee;
    border-radius: 50%;
    font-family: "Montserrat";
    font-size: 2em;
    width: 80px;
    height: 80px;
}

input{
    font-family: "Montserrat";
    background: transparent;
    padding:8px;
    display: inline-block;
    border:none;
    border-bottom:1px solid #ccc;
    width:90%;
    margin: 1em auto;
}

select{
    font-family: "Montserrat";
}

@media screen and (max-width: 920px){
    button{
        left: 92%;
    }
}

@media screen and (min-width: 921px){
    button{
        left: 95%;
    }
}