<div class="row">
  <div class="column">
    <h3>Eventos Creados:</h3>
    <div *ngIf="oEvents">
      <div class="card" *ngFor="let oe of oEvents; let i = index" (click)="viewEvent(oe)">
        <div class="tag">{{i}}</div>
        <div class="down">
            <h6>{{oe.name}}</h6>
            <p>El evento creado por {{oe.owner.name}} se llevara a cabo el día {{oe.date.toLocaleString()}}.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h3>Invitaciones a Eventos:</h3>
  </div>
</div>