<div class="row">
  <div class="column">
    <h3>Eventos Creados:</h3>
    <div *ngIf="oEvents">
      <div class="card" *ngFor="let oe of oEvents; let i = index" (click)="viewEvent(oe)">
        <div class="tag">{{i}}</div>
        <div class="down">
            <h6>{{oe.name}}</h6>
            <p>El evento creado por {{oe.owner.name}}. Se realizara en la sede {{oe.space.name}} ({{oe.space.address}}) y se llevara a cabo el día {{oe.date.toLocaleString()}}.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h3>Invitaciones a Eventos:</h3>
    <div *ngIf="gEvents">
        <div class="card" *ngFor="let ge of gEvents; let i = index" (click)="viewEvent(ge)">
          <div class="tag">{{i}}</div>
          <div class="down">
              <h6>{{ge.name}}</h6>
              <p>El evento creado por {{ge.owner.name}}. Se realizara en la sede {{ge.space.name}} ({{ge.space.address}}) y se llevara a cabo el día {{ge.date.toLocaleString()}}.</p>
          </div>
        </div>
      </div>
  </div>
</div>
<button (click)="popUpForm()">+</button>

<div class="popup" *ngIf="visible">
    <div class="formTitle">
      <h2>Crear Evento</h2>
    </div>
    <form>
      <div>
        <label class="header">Nombre:</label>
        <input class="fit" type="text" [(ngModel)]='name' name='name'>
      </div>
      <div>
        <label class="header">Fecha:</label>
        <select [(ngModel)]="month" name="month">
            <option value="January">Enero</option>
            <option value="February">Febrero</option>
            <option value="March">Marzo</option>
            <option value="April">Abril</option>
            <option value="May">Mayo</option>
            <option value="June">Junio</option>
            <option value="July">Julio</option>
            <option value="August">Agosto</option>
            <option value="September">Septiembre</option>
            <option value="October">Octubre</option>
            <option value="November">Noviembre</option>
            <option value="December">Diciembre</option>
        </select>
        <select [(ngModel)]="day" name="day">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select [(ngModel)]="hour" name="hour">
            <option value="18:00:00">18:00</option>
            <option value="19:00:00">19:00</option>
            <option value="20:00:00">20:00</option>
            <option value="21:00:00">21:00</option>
            <option value="22:00:00">22:00</option>
            <option value="23:00:00">23:00</option>
        </select>
        <select [(ngModel)]="year" name="year">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>
      </div>
      <div>
        <label class="header">Lugar:</label>
        <input class="fit" type="text" [(ngModel)]='place' name='place'>
      </div>
      <div>
        <label class="header">Dirección:</label>
        <input class="fit" type="text" [(ngModel)]='addr' name='addr'>
      </div>
      <input class="center" (click)="createEvent()" type="submit">
      <!--button class="center" (click)="createEvent()"></button-->
    </form>
  </div>
