.hidden{
    overflow: hidden;
}

.center{
    width: 75%;
    height: 75%;
    margin: 1em auto;
    text-align: center;
    font-size: 125%; 
}

.card{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 55%;;
    margin: 0; padding: 1em 0; border: 0px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 5;
}

img{
    width: 100%;
    max-height: 100%;
    filter: blur(5px);
    transform: scale(1.1);
}


ul {
    list-style-type: none;
    margin: 0; padding: 0;
    width: 100%;
    li {
        display: block;
        margin: 3em auto;
        width: 100%;
        a {
            
            font-size: .8em;
            text-transform: uppercase;
            text-align: center;
            color: white;
            background: #7700FF;
            padding: 1.5em 0;
            width: 75%;
            margin: 0 12.5%;
            border-radius: 15px;
            display: inline-block;

            &:hover {
                background: #8E2BFF;
            }
        }
    }
}