<header>
  <div class="container">
    <a [routerLink]="['/']" class="logo" *ngIf="!userService.isSessionOpen()">Hally</a>
    <a [routerLink]="['/dashboard']" class="logo" *ngIf="userService.isSessionOpen()">Hally</a>
    <nav>
      <ul>
        <li class *ngIf="userService.isSessionOpen()">
          <a [routerLink]="['/dashboard']">Tablón de Eventos</a>
        </li>
        <li class *ngIf="userService.isSessionOpen()">
          <a [routerLink]="['/profile']">Perfil</a>
        </li>
        <li class *ngIf="userService.isSessionOpen()">
          <a (click)="onLogOutClick()">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
  </div>
</header>